{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 mb-5">

    <h1>QUIZ</h1>
    <hr>
    
    <div class="row mb-5">
        {% for i in con %}
            <div class="col-lg-3">


                <!-- Button trigger modal -->
                <button type="button" class="btn {% if user in i.solver.all %} btn-secondary{%else%} btn-primary {% endif %}" data-bs-toggle="modal" data-bs-target="#exampleModal{{ forloop.counter }}">
                    {{ forloop.counter }} 번 문제 
                </button>
                <sup>{{ i.solver.all.count }} solved</sup>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">

                                <h5 class="modal-title" id="exampleModalLabel">{{ forloop.counter}}번 문제</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                            </div>

                            <div class="modal-body">
                                문제입니다.<br> {{ i.question }}

                            </div>

                            <div class="modal-footer">
                                
                                <form method="POST" action="{% url 'quiz:judge' i.id %}">
                                    {% csrf_token %}
                                    <input type="text" name="answer" class="form-control">
                                    <button class="btn btn-primary">SUBMIT</button>
                                </form>

                            </div>
                            
                        </div>
                    </div>
                </div>


            </div>
        {% endfor %}  
    </div>
    
   

    <h1>Ranking</h1>
    <hr>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Username</th>
            <th scope="col">Solve Num</th>
            <th scope="col">Point</th>
          </tr>
        </thead>
        <tbody>
            {% for i in u %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ i.username }}</td>
                    <td>
                        {% for j in i.quiz_set.all %}
                            <mark style="background-color: aqua;"">{{ j.question }}</mark>
                        {% endfor %}
                    </td>
                    <td>{{ i.point }}</td>
                </tr>
          {% endfor%}
        </tbody>
    </table>

</div>

{% endblock%}
