{% extends 'base.html' %}
{% block content %}


<div class="container mt-5">
    <h1>Board</h1>
    <div class="text-end">
        <a href="{% url 'board:create' %}"><button type="button" class="btn btn-success">WRITE</button></a>
    </div>
    <table class="table mt-5 table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">NO</th>
            <th scope="col">subject</th>
            <th scope="col">content</th>
            <th scope="col">writer</th>
            <th scope="col">up</th>
        </tr>
        </thead>
        <tbody>
        {% if con %}
            {% for i in con %}
            {% load mathfilters %}
            <tr>
                <th scope="row">{{ con.number|mul:10|add:forloop.counter|sub:10}}</th>
                <td>
                    <a href="{% url 'board:detail' i.id%}">{{ i.subject }}</a>
                    {% if i.reply_set.count %}
                        <sup style="color: blueviolet; font-weight: bold;">reply : {{ i.reply_set.count }}</sup>
                    {% endif %}
                </td>
                <td>{{ i.content }}</td>
                {% if user.username == i.writer %}
                    <td><mark style="background-color: aqua;">{{ i.writer }}</mark></td>
                {% else %}
                    <td>{{ i.writer }}</td>
                {% endif %}

                <td>{{ i.up.all.count }}</td>
            </tr>
            {% endfor %}
        {% else %}
        <td colspan="5">No Result</td>
        {% endif %}
        </tbody>
    </table>
    
    <!-- ---------------------------검색창 영역------------------------ -->

    <form>
        <div class="row mt-4 mb-5">
            <div class="col-lg-3">
                <select name="cate" class="form-select" aria-label="Default select example">
                    <option value="subject" {% if cate == 'subject' %} selected {% endif %}>Subject</option>
                    <option value="content" {% if cate == 'subject' %} selected {% endif %}>Content</option>
                    <option value="writer" {% if cate == 'subject' %} selected {% endif %}>Writer</option>
                </select>
            </div>
            <div class="col-lg-8">
                <input type="text" name="kw" value="{{kw}}"class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="col-lg-1">
                <button type="submit" class="btn btn-outline-dark">Search</button>
            </div>
        </div>
    </form>


    <!-- {{ con.start_index }}  {{ con.end_index }}   -->
   
    <nav aria-label="Page navigation example">
        <ul class="pagination mt-5 justify-content-center">

            {% if con.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page=1&kw={{kw}}&cate={{cate}}">Home</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{con.previous_page_number}}&kw={{kw}}&cate={{cate}}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="{% url 'board:index' %}?page=1&kw={{kw}}&cate={{cate}}">Home</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">이전페이지</a>
                </li>
            {% endif %}
  
            {% for i in con.paginator.page_range %} 
                {% if i >= con.number|sub:1|intdiv:10|mul:10|add:1 and i <= con.number|sub:1|intdiv:10|mul:10|add:10 %}
                    {% if i == con.number %}
                        <li class="page-item active"><a class="page-link" href="{% url 'board:index' %}?page={{i}}&kw={{kw}}&cate={{cate}}">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page={{i}}&kw={{kw}}&cate={{cate}}">{{i}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}            

            {% if con.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{con.next_page_number}}&kw={{kw}}&cate={{cate}}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{con.paginator.num_pages}}&kw={{kw}}&cate={{cate}}">Last</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="{% url 'board:index' %}?page={{con.paginator.num_pages}}&kw={{kw}}&cate={{cate}}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    
</div>

<style>
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color:cornflowerblue;
        font-weight: bold;
    }   
</style>
{% endblock%}